<!DOCTYPE html>
<html>
<head>
    <style>
        .code {
            font-size: 24px;
            letter-spacing: 2px;
            color: #2563eb;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <p> Use the following link to reset your password </p>
    <a class="token" href="http://localhost:3000/auth/password-reset/confirm?access_token={{access_token}}">
        Reset your password
    </a>
    <p>This link will expire in 1 hour.</p>
    <p>If you didn't request this, please ignore this email.</p>
</body>
</html>